<div class="fb-title"><img src="/assets/content/themes/layout/images/facebook.png"  /></div>
<div class="fbarea" style="padding-left:10px;padding-right:10px;padding-bottom;10px; padding-top:10px; padding-bottom:20px; border: solid 1px #ddd;background:#F8F4ED;">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) return;
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
	 fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-page" data-href="https://www.facebook.com/titech.cbec" data-width="1000" data-height="571" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/titech.cbec"><a href="https://www.facebook.com/titech.cbec">東京工業大学 CBECプログラム</a></blockquote></div></div>
</div>
