	<title>チーム志向越境型 アントレプレナー育成プログラム</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="東京工業大学 チーム志向越境型アントレプレナー育成プログラムでは様々なステークホルダーとの間の自律的な協力関係を保ちながら、専門の違い、文化の違い、性別の違いなどの境界を乗り越え、多様な価値観を許容し、互いに協力しながらチームとして活動することにより、イノベーションを起こすことのできる人材を育成します。" />
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/content/themes/layout/style.css" />
	<!-- JS -->

	<link rel="stylesheet" href="/assets/content/plugins/layerslider/css/layerslider.css" type="text/css">

	<!--[if lt IE 9]>
	    <script src="/assets/js/html5.js"></script>
	<![endif]-->

	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'></script>
	<script type='text/javascript' src='assets/content/plugins/jquery-colorbox/js/jquery.colorbox-min.jsPver=1.3.21'></script>
	<script type='text/javascript' src='assets/content/plugins/jquery-colorbox/js/jquery-colorbox-wrapper-min.jsPver=4.6'></script>

	<script type='text/javascript' src='/assets/content/themes/layout/js/jquery.cookie.js'></script>
	<script type='text/javascript' src='/assets/content/themes/layout/perfect-scrollbar/perfect-scrollbar-0.4.1.with-mousewheel.min.js'></script>
	<script type='text/javascript' src='/assets/content/themes/layout/perfect-scrollbar/perfect-scrollbar-0.4.1.min.js'></script>
	<script type='text/javascript' src='/assets/content/themes/layout/js/html5shiv.js'></script>
	<script type='text/javascript' src='/assets/content/themes/layout/js/respond.min.js'></script>
	<script type='text/javascript' src='/assets/content/themes/layout/js/footerFixed.js'></script>
	<script type='text/javascript' src='/assets/content/themes/layout/js/bootstrap.min.js'></script>


	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="Prsd_xmlrpc.xml" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />

	<!-- Added by Wordpress Smooth Scroll Links 1.1.0 -->
	<script type="text/javascript" src="/assets/content/plugins/smooth-scrolling-links-ssl/smoothscroll.js"></script>
	<!-- End of Wordpress Smooth Scroll Links 1.1.0 -->
	<style type="text/css">.arve-thumb-wrapper { width: 300px; }.arve-normal-wrapper.alignleft, .arve-normal-wrapper.alignright, .arve-normal-wrapper.aligncenter { width: 400px; }</style>

	<script type="text/javascript">

	 $(function() {
	     $('.dropdown').hover(
		 function(){
		     $(this).addClass('open').find('ul:first-child').stop(true,true).hide().slideDown(0);
		 },
		 function(){
		     $(this).removeClass('open').find('ul:first-child').stop(true,true).slideUp(0);
		 }
	     );
	     $('.dropdown-menu li').unbind('mouseover').unbind('mouseout');
	 });
	</script>





	<style type="text/css" media="screen">
	    .ls-layer,
	    .ls-layer * {
	    font-family: Arial, sans-serif;
	    font-weight: normal;
	    text-shadow: none !important;
	    }

	    .ls-s-1 {
	    border-radius: 100px;
	    -moz- border-radius: 100px;
	    -webkit- border-radius: 100px;
	    font-weight: normal;
	    }

	    .plus,
	    .plus2 {
	    text-align: center;
	    width: 50px;
	    height: 50px;
	    font-size: 50px;
	    line-height: 50px;
	    background: #eee;
	    }

	    .plus {
	    color: #3b173d;
	    }

	    .plus2 {
	    color: #1e73be;
	    }

	    .text,
	    .text2 {
	    font-size: 26px;
	    }

	    .text {
	    color: #eee;
	    }

	    .text2 {
	    color: #1e73be;
	    }

	    #u_0_0	{
	    border:solid 1px #666;
	    }
	</style>
