<!-- header -->
<div id="header" class="header-page">
    <div class="bar1"></div>
    <div class="container">
	<h1 class="left"><a href="/"><img src="/assets/content/themes/layout/images/title.png" alt="チーム志向越境型アントレプレナー育成プログラム" /></a></h1>




<div id="google_translate_element" style="text-align:right;"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'ja', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>



<!--	<a href="" class="btn lang-btn" ><i style="font-size:15px;" class="fa fa-globe"></i>&nbsp;English</a>-->
	<div class="right visible-desktop" style="width:310px;margin-top:10px;margin-left:100px;">
	    <script>
	     (function() {
		 var cx = '000087100320090651827:odaicfe8nic';
		 var gcse = document.createElement('script');
		 gcse.type = 'text/javascript';
		 gcse.async = true;
		 gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			    '//www.google.com/cse/cse.js?cx=' + cx;
		 var s = document.getElementsByTagName('script')[0];
		 s.parentNode.insertBefore(gcse, s);
	     })();
	    </script>
	    <gcse:search></gcse:search>
	</div>
    </div>

    <!-- Navbar ================================================== -->
    <div class="navbar navbar-static-top  nav">
	<div class="navbar-inner">
	    <div class="container">
		<a id="tglbtn" class="btn btn-navbar tglbtn" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</a>
		<div class="nav-collapse ">
		    <ul id="menu-global-menu" class="nav navbar-nav">
		    	<li id="menu-item-56" class="{% if page.dir == "/" %}  active current_page_item  {% endif %}menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-56 dropdown"><a href="/"><img alt="ホーム" src="/assets/content/themes/layout/images/gm0.png" class='visible-desktop' /><p class="visible-phone visible-tablet">ホーム</p><i style='font-size:19px;' class='fa-caret-right fa right visible-phone'></i></a></li>
			<li id="menu-item-61" class="{% if page.dir == "/overview/" %}  active current_page_item  {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-61 dropdown"><a href="/overview/"><img src="/assets/content/themes/layout/images/gm1.png" class='visible-desktop' alt="概要" /><p class="visible-phone visible-tablet">概要</p><i style='font-size:19px;' class='fa-caret-right fa right visible-phone'></i></a>	</li>
			<li id="menu-item-57" class="{% if page.dir == "/vision/" %}  active current_page_item  {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-57 dropdown"><a href="/vision/"><img src="/assets/content/themes/layout/images/gm2.png" class='visible-desktop' alt="ビジョン" /><p class="visible-phone visible-tablet">ビジョン</p><i style='font-size:19px;' class='fa-caret-right fa right visible-phone'></i></a>				</li>
			<li  class="{% if page.dir == "/organization/" %}  active current_page_item  {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-74 dropdown"><a href="/organization/"><img src="/assets/content/themes/layout/images/gm3.png" class='visible-desktop' alt="組織" /><p class="visible-phone visible-tablet">組織</p><i style='font-size:19px;' class='fa-caret-right fa right visible-phone'></i></a></li>
			<li  class="{% if page.dir == "/reports/" %}  active current_page_item  {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-74 dropdown"><a href="/reports/"><img src="/assets/content/themes/layout/images/gm4.png" class='visible-desktop' alt="活動報告" /><p class="visible-phone visible-tablet">活動報告</p><i style='font-size:19px;' class='fa-caret-right fa right visible-phone'></i></a></li>
			<li  class="{% if page.dir == "/research/" %}  active current_page_item  {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-74 dropdown"><a href="/research/"><img src="/assets/content/themes/layout/images/gm5.png" class='visible-desktop' alt="共同研究" /><p class="visible-phone visible-tablet">共同研究</p><i style='font-size:19px;' class='fa-caret-right fa right visible-phone'></i></a></li>
			<li  class="{% if page.dir == "/access/" %}  active current_page_item  {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-74 dropdown"><a href="/access/"><img src="/assets/content/themes/layout/images/gm6.png" class='visible-desktop' alt="アクセス" /><p class="visible-phone visible-tablet">アクセス</p><i style='font-size:19px;' class='fa-caret-right fa right visible-phone'></i></a></li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>

</div>
