---
layout: default
---

<div class="bar1 page-bar1">
  <div id="1" class="wrap page-bg page-height">
    <div class="container page-height bg-white-page">
      <div id="content" class="page_%e3%83%86%e3%82%b9%e3%83%88%e3%81%a7%e3%81%99">
	  {{ content }}
      </div><!-- /content -->
    </div><!-- /container -->
  </div><!-- /wrap -->

  <script type='text/javascript'>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-50290425-6']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  {% include footer.html %}

</div><!-- /bar1 page-bar1 -->
